/*body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: .9em;
}

h1 {
    font-size: 1.5em;
    color: #334499;
}*/
a.missing ins { background: none !important; }

div {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 5px;
}

.StepProgress {
    list-style: none;
    padding-left: 45px;
    position: relative;
}

.StepProgress::before {
    border-left: 2px solid #CCC;
    content: '';
    display: inline-block;
    height: 100%;
    left: 15px;
    position: absolute;
    top: 0;
    width: 10px;
}

.StepProgress > .StepProgress-item {
    counter-increment: list;
    position: relative;
}

.StepProgress > .StepProgress-item:not(:last-child) { padding-bottom: 20px; }

.StepProgress > .StepProgress-item::before {
    content: '';
    display: inline-block;
    height: 100%;
    left: -30px;
    position: absolute;
    width: 10px;
}

.StepProgress > .StepProgress-item::after {
    background-color: #FFF;
    border: 2px solid #CCC;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 12px;
    left: -37px;
    position: absolute;
    top: 0;
    width: 12px;
}

.StepProgress > .StepProgress-item.is-done::before { border-left: 2px solid green; }

.StepProgress > .StepProgress-item.is-done::after {
    background-color: green;
    border: 2px solid green;
    color: #FFF;
    content: "✔";
    font-size: 10px;
    text-align: center;
}

.StepProgress > .StepProgress-item.current::before { border-left: 2px solid green; }

.StepProgress > .StepProgress-item.current::after {
    background-color: white;
    border: 2px solid green;
    color: green;
    content: counter(list);
    font-size: 14px;
    height: 18px;
    left: -40px;
    padding-top: 1px;
    text-align: center;
    top: -4px;
    width: 19px;
}

.StepProgress strong { display: block; }